@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/chillax');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #B2AFFE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --secondary: #B2AFFE;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Chillax', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
